@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-default {
  @apply border border-black w-full rounded-lg max-w-[100px] h-10 pt-1 
         hover:bg-yellow-500/80 hover:border-none 
         flex items-center justify-center;
         
}
.dark .btn-default{
  @apply bg-yellow-500 text-black;
}

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  @apply 
  bg-white 
  dark:bg-[#23272F]
  text-gray-900 
  dark:text-gray-100 
  transition-colors 
  duration-300;
}