@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-default {
  @apply border border-black w-full rounded-lg max-w-[100px] h-10 pt-1 
         hover:bg-yellow-500 hover:border-none 
         flex items-center justify-center;
}

*{
@apply bg-gray-200
}